<app-sidebar-menu></app-sidebar-menu>

<div class="header fixed-header">
  <div class="container-fluid side-padding">
    <div class="row">
      <div class="col-7 col-md-6 d-lg-none">
        <a id="toggle-navigation" href="javascript:void(0);" class="icon-btn mr-3"><i class="fa fa-bars"></i></a>
        <img src="../../../assets/wbdashboard.png" class="logo-side-dark">
      </div>
      <div class="col-lg-8 d-none d-lg-block">
        <p class="sidebar-relative">Welcome, <b>Wicombit</b> <a href="../controller/logout.php"
            class="sidebar-logout"><i class="dripicons-exit"></i></a></p>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
