<div class="uk-grid-margin uk-scrollspy-inview uk-animation-fade" style="">
  <article tabindex="-1">
    <header class="uk-comment-header uk-position-relative">
      <div class="uk-grid-small uk-flex-middle uk-grid" uk-grid="">
        <div class="uk-width-1-1 uk-width-auto@s uk-flex uk-flex-center uk-first-column">
          <div class="uk-cover-container uk-border-circle">
            <a href="https://demos.wicombit.com/realfood/user/268"><img class="uk-comment-avatar uk-cover"
                src="https://demos.wicombit.com/realfood/images/avatar.png" alt="senid" uk-cover=""
                style="height: 80px; width: 80px;"></a>
            <canvas width="80" height="80"></canvas>
          </div>
        </div>
        <div class="uk-width-1-1 uk-width-expand@s uk-text-center uk-text-left@s">
          <h4 class="uk-comment-title uk-margin-remove uk-text-truncate"><a class="uk-link-reset"
              href="https://demos.wicombit.com/realfood/user/268">senid</a>
          </h4>
          <p class="info">@bosnit.studio</p>
        </div>
      </div>
    </header>
  </article>
</div>
