<div class="uk-card uk-card-default uk-border-rounded" *ngIf="recipe">
  <a (click)="goToDetails(recipe.id)" href="javascript:void(1)">
    <div class="uk-card-media-top uk-cover-container">
      <img [src]="recipe.imageUrl" [alt]="recipe.title" uk-cover="" class="uk-cover"
        style="height: 281px; width: 374px;">
      <canvas width="600" height="300"></canvas>
    </div>
  </a>
  <div class="uk-card-body">
    <div class="uk-card-badge uk-label">{{recipe.category?.name}}</div>

    <div class="tas_rating">
      <img src="../../../assets/like.svg"><span>{{recipe.countLikes}}</span>
    </div>

    <a class="uk-card-title" (click)="goToDetails(recipe.id)" href="javascript:void(1)">{{recipe.title}}</a>

    <ul class="uk-subnav" uk-margin="">
      <li class="uk-first-column"><span>
          <i-tabler name="users"></i-tabler>
          {{recipe.servings}} Serv.</span></li>
      <li><span>
          <i-tabler name="clock"></i-tabler>
          {{recipe.prepTime}} Min</span></li>
    </ul>
  </div>

  <div class="uk-card-footer" *ngIf="showUser">
    <div class="uk-grid-small uk-flex-middle uk-grid" uk-grid="">
      <div class="uk-width-auto uk-first-column">

        <a href="https://wicombit.com/demo/realfood/user/1">
          <div class="uk-cover-container uk-border-circle">
            <img [src]="recipe.user.picture" uk-cover="" class="uk-cover" style="height: 40px; width: 40px;">
            <canvas width="40" height="40"></canvas>
          </div>
        </a>

      </div>
      <div class="uk-width-expand">
        <h5 class="uk-margin-remove-bottom uk-flex uk-flex-middle"> <a class="uk-link-muted"
            href="https://wicombit.com/demo/realfood/user/1">{{recipe.user.username}}</a>
          <img class="verify-badge" width="14" src="../../../assets/badge.svg">
        </h5>
        <p class="uk-text-meta uk-margin-remove-top">
         {{recipe.user.createAt|date:"dd/MM/yyyy"}}</p>
      </div>
    </div>
  </div>
</div>
