<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin uk-grid" uk-grid="">

  <a href="javascript:void(1)" [routerLink]="['/recipe', recipe.id]" class="uk-first-column">
    <div class="uk-card-media-left uk-cover-container">
      <img [src]="recipe.imageUrl" [alt]="recipe.title" uk-cover="" class="uk-cover"
        style="height: 400px; width: 600px;">
      <canvas width="600" height="400"></canvas>
    </div>
  </a>
  <div>
    <div class="uk-card-body uk-text-center uk-text-left@s">
      <div class="tas_badge uk-label">{{recipe.category?.name}}</div>

      <a href="javascript:void(1)" [routerLink]="['/recipe', recipe.id]">
        <h2 class="uk-card-title">{{recipe.title}}</h2>
      </a>
      <hr class="uk-divider-small">

      <div class="tas_rating">
        <img src="../../../assets/like.svg"><span>{{recipe.countLikes}}</span>
      </div>

      <p>{{recipe.description}}</p>

      <ul class="uk-flex-center uk-flex-left@s uk-subnav" uk-margin="">
        <li class="uk-first-column"><span>
            <!-- <i class="tas_icon ti ti-users"></i> -->
            <i-tabler name="users"></i-tabler>

            {{recipe.servings}} Serv.</span></li>
        <li><span>
            <!-- <i class="tas_icon ti ti-clock"></i> -->
            <i-tabler name="clock"></i-tabler>

            {{recipe.prepTime}} Min</span></li>
      </ul>

    </div>

  </div>
</div>
