<nav id="navigation" class="navigation-sidebar navbar-expand-lg static-top bg-primary">
  <div class="navigation-header">
    <a href="https://wicombit.com/demo/realfood/admin"><img src="../../../assets/wbdashboard.png" class="logo-side"></a>
  </div>

  <div class="welcome">
    Welcome, <b>Wicombit</b> <a href="../controller/logout.php" class="sidebar-user"><i class="dripicons-exit"></i></a>
  </div>

  <!--Navigation Menu Links-->
  <div class="navigation-menu">

    <ul class="menu-items custom-scroll mCustomScrollbar _mCS_1 mCS-autoHide" style="overflow: visible;">
      <div id="mCSB_1" class="mCustomScrollBox mCS-minimal mCSB_vertical mCSB_outside" style="max-height: none;"
        tabindex="0">
        <div id="mCSB_1_container" class="mCSB_container" style="position:relative; top:0; left:0;" dir="ltr">

          <li>
            <a href="javascript:void(0);" class="have-submenu" (click)="isSubMenu=!isSubMenu">
              <span class="icon-thumbnail">
                <i class="dripicons-cutlery"></i>
              </span>
              <span class="title">Recipes</span>
            </a>
            <!--Submenu-->
            <ul class="sub-menu" [ngStyle]="{'display':isSubMenu ? 'block' : 'none' }">
              <li>
                <a href="../controller/recipes.php">
                  <span class="icon-thumbnail"><i class="dripicons-minus"></i></span>
                  <span class="title">Recipes</span>
                </a>
              </li>

              <li>
                <a href="../controller/categories.php">
                  <span class="icon-thumbnail"><i class="dripicons-minus"></i></span>
                  <span class="title">Categories</span>
                </a>
              </li>

              <li>
                <a href="../controller/difficulties.php">
                  <span class="icon-thumbnail"><i class="dripicons-minus"></i></span>
                  <span class="title">Difficulties</span>
                </a>
              </li>

            </ul>
          </li>
          <li>
            <a routerLink="/admin/users">
              <span class="icon-thumbnail"><i class="dripicons-user"></i></span>
              <span class="title">Users</span>
            </a>
          </li>

          <li>
            <a href="../controller/subscribers.php">
              <span class="icon-thumbnail"><i class="dripicons-bell"></i></span>
              <span class="title">Subscribers</span>
            </a>
          </li>

          <li>
            <a href="../controller/comments.php">
              <span class="icon-thumbnail"><i class="dripicons-conversation"></i></span>
              <span class="title">Comments</span>
            </a>
          </li>
          <!-- <li>
            <a href="../controller/etemplates.php">
              <span class="icon-thumbnail"><i class="dripicons-mail"></i></span>
              <span class="title">Email Templates</span>
            </a>
          </li> -->

          <!-- <li>
            <a href="../controller/settings.php">
              <span class="icon-thumbnail"><i class="dripicons-gear"></i></span>
              <span class="title">Settings</span>
            </a>
          </li> -->

        </div>
      </div>
      <div id="mCSB_1_scrollbar_vertical"
        class="mCSB_scrollTools mCSB_1_scrollbar mCS-minimal mCSB_scrollTools_vertical" style="display: block;">
        <div class="mCSB_draggerContainer">
          <div id="mCSB_1_dragger_vertical" class="mCSB_dragger"
            style="position: absolute; min-height: 50px; height: 304px; top: 0px; display: block; max-height: 353px;">
            <div class="mCSB_dragger_bar" style="line-height: 50px;"></div>
            <div class="mCSB_draggerRail"></div>
          </div>
        </div>
      </div>
    </ul>
  </div>

</nav>
