<div class="page-title uk-section uk-section-small uk-section-default">
  <div class="uk-container">
    <h3 class="uk-heading-line uk-text-center uk-text-left@m"><span>Recipes</span></h3>
  </div>
</div>
<div class="uk-container">
  <div class="uk-grid-large uk-grid uk-grid-stack" uk-grid="">
    <div class="uk-width-expand@m uk-first-column">
      <div class="uk-grid-medium uk-grid" uk-grid="">
        <div class="uk-width-auto uk-width-expand@s uk-flex uk-flex-middle uk-first-column">
          <div class="tas-listing-title">
            <h5 class="uk-margin-remove">{{recipes.length}} Total Recipes</h5>
          </div>
        </div>
        <div class="uk-width-expand uk-width-1-2@s uk-width-1-4@l">
          <div class="uk-grid-small uk-grid" uk-grid="">
            <div class="uk-width-expand uk-first-column">
              <select class="nice-select tas-order-by nc-select wide uk-form-large uk-border-rounded" id="sortby">
                <option value="default">Default</option>
                <option value="date-desc">Date New to Old</option>
                <option value="date-asc">Date Old to New</option>
                <option value="best-rated">Best Rated</option>
              </select>
            </div>

            <div class="uk-width-auto">
              <a class="uk-button uk-button-primary uk-border-rounded uk-form-large" type="button"
                uk-toggle="target: #search-form; animation: uk-animation-fade" aria-expanded="false">
                <i class="ti ti-chevron-down uk-padding-small"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="uk-width-1-1" id="search-form" hidden="">
          <form class="uk-grid-small uk-grid uk-grid-stack" id="searchForm" uk-grid="">
            <div class="uk-width-1-1 uk-width-expand@s">
              <input class="uk-input uk-form-large uk-border-rounded uk-width-1-1" [(ngModel)]="searchKey" name="query"
                value="" placeholder="Find a recipe..." type="text">
            </div>
            <div class="uk-width-1-1 uk-width-expand@s">
              <select class="nice-select nc-select wide uk-form-large uk-border-rounded" name="category"
                [(ngModel)]="categorySelected" placeholder="Choose category">
                <option selected value="0"> Choose Category </option>
                <option *ngFor="let cat of categories" [value]="cat.id">{{cat.name}}</option>
              </select>
            </div>
            <div class="uk-width-1-1 uk-width-auto@s">
              <button class="uk-button uk-button-large uk-button-default uk-border-rounded uk-width-1-1" value="Search"
                type="submit" (click)="search()">Search</button>
            </div>
          </form>
        </div>
      </div>
      <div
        class="uk-grid-match uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-2@m uk-child-width-1-3@l uk-grid"
        uk-grid="" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 100">
        <div class="tas_card_1 uk-first-column uk-scrollspy-inview uk-animation-fade" style=""
          *ngFor="let recipe of recipes">

          <div class="uk-card uk-card-default uk-border-rounded">
            <a href="javascript:void(1)" [routerLink]="['/recipe', recipe.id]">
              <div class="uk-card-media-top uk-cover-container">
                <img [src]="recipe.imageUrl" [alt]="recipe.title" uk-cover="" class="uk-cover"
                  style="height: 281px; width: 374px;">
                <canvas width="600" height="300"></canvas>
              </div>
            </a>
            <div class="uk-card-body">
              <div class="uk-card-badge uk-label">{{recipe.category.name}}</div>

              <div class="tas_rating">
                <img src="../../assets/like.svg"><span>{{recipe.countLikes}}</span>
              </div>

              <a class="uk-card-title" href="javascript:void(1)"
                [routerLink]="['/recipe', recipe.id]">{{recipe.title}}</a>

              <ul class="uk-subnav" uk-margin="">
                <li class="uk-first-column"><span><i class="tas_icon ti ti-users"></i> {{recipe.servings}} Serv.</span>
                </li>
                <li><span><i class="tas_icon ti ti-clock"></i> {{recipe.prepTime}} Min</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
