<div class="uk-first-column">
  <a href="https://demos.wicombit.com/realfood/recipe/5/brownies-with-walnuts">
    <div class="tas_card_2 uk-cover-container uk-height-medium">
      <img src="https://demos.wicombit.com/realfood/images/recipe_1620058937.jpg" alt="Brownies with Walnuts"
        uk-cover="" class="uk-cover" style="height: 300px; width: 451px;">

      <div class="tas_rating">
        <img src="https://demos.wicombit.com/realfood/assets/img/like.svg"><span>2</span>
      </div>

      <div class="uk-overlay uk-position-bottom">
        <div class="uk-label">Desserts</div>
        <p class="card-title">Brownies with Walnuts</p>
        <ul class="uk-subnav" uk-margin="">
          <li class="uk-first-column"><span><i class="tas_icon ti ti-users"></i> 3 Serv.</span></li>
          <li><span><i class="tas_icon ti ti-clock"></i> 25 Min</span></li>
        </ul>
      </div>
    </div>
  </a>
</div>
