<div class="page-title uk-section uk-section-small uk-section-default">
  <div class="uk-container">
    <h3 class="uk-heading-line uk-text-center uk-text-left@m"><span>Search</span></h3>
  </div>
</div>
<div class="uk-container">
  <div class="uk-grid-large uk-grid uk-grid-stack" uk-grid="">
    <div class="uk-width-expand@m uk-first-column">
      <div class="uk-grid-medium uk-grid" uk-grid="">
        <div class="uk-width-1-1" id="search-form">
          <form class="uk-grid-small uk-grid uk-grid-stack" method="get"
            action="https://demos.wicombit.com/realfood/search" id="searchForm" uk-grid="">
            <div class="uk-width-1-1 uk-width-expand@s">
              <input class="uk-input uk-form-large uk-border-rounded uk-width-1-1" name="query" value=""
                placeholder="Find a recipe..." type="text">

            </div>
            <div class="uk-width-1-1 uk-width-auto@s">

              <button class="uk-button uk-button-large uk-button-default uk-border-rounded uk-width-1-1" value="Search"
                type="submit" style="background-color: #4caf50;color: white;">+</button>
            </div>
            <div class="uk-width-1-1 uk-width-auto@s">

              <button class="uk-button uk-button-large uk-button-default uk-border-rounded uk-width-1-1" value="Search"
                type="submit">Search</button>
            </div>
          </form>
        </div>
      </div>
      <div
        class="uk-grid-match uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-2@m uk-child-width-1-3@l uk-grid"
        uk-grid="" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 100">
        <div class="tas_card_1 uk-first-column uk-scrollspy-inview uk-animation-fade" style="">

          <div class="uk-card uk-card-default uk-border-rounded">
            <a href="https://demos.wicombit.com/realfood/recipe/1/mighty-super-cheesecake">
              <div class="uk-card-media-top uk-cover-container">
                <img src="https://demos.wicombit.com/realfood/images/recipe_1618205715.jpg"
                  alt="Mighty Super Cheesecake" uk-cover="" class="uk-cover" style="height: 281px; width: 374px;">
                <canvas width="600" height="300"></canvas>
              </div>
            </a>
            <div class="uk-card-body">
              <div class="uk-card-badge uk-label">Desserts</div>

              <div class="tas_rating">
                <img src="https://demos.wicombit.com/realfood/assets/img/like.svg"><span>18</span>
              </div>

              <a class="uk-card-title"
                href="https://demos.wicombit.com/realfood/recipe/1/mighty-super-cheesecake">Mighty Super Cheesecake</a>

              <ul class="uk-subnav" uk-margin="">
                <li class="uk-first-column"><span><i class="tas_icon ti ti-users"></i> 4 Serv.</span></li>
                <li><span><i class="tas_icon ti ti-clock"></i> 45 Min</span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tas_card_1 uk-scrollspy-inview uk-animation-fade" style="">

          <div class="uk-card uk-card-default uk-border-rounded">
            <a
              href="https://demos.wicombit.com/realfood/recipe/2/broad-beans-tomato-garlic-mozzarella-cheese-bruschetta">
              <div class="uk-card-media-top uk-cover-container">
                <img src="https://demos.wicombit.com/realfood/images/recipe_1620056120.jpg"
                  alt="Mozzarella Cheese Bruschetta" uk-cover="" class="uk-cover" style="height: 249px; width: 374px;">
                <canvas width="600" height="300"></canvas>
              </div>
            </a>
            <div class="uk-card-body">
              <div class="uk-card-badge uk-label">Pasta</div>

              <div class="tas_rating">
                <img src="https://demos.wicombit.com/realfood/assets/img/like.svg"><span>6</span>
              </div>

              <a class="uk-card-title"
                href="https://demos.wicombit.com/realfood/recipe/2/broad-beans-tomato-garlic-mozzarella-cheese-bruschetta">Mozzarella
                Cheese Bruschetta</a>

              <ul class="uk-subnav" uk-margin="">
                <li class="uk-first-column"><span><i class="tas_icon ti ti-users"></i> 2 Serv.</span></li>
                <li><span><i class="tas_icon ti ti-clock"></i> 5 Min</span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tas_card_1 uk-scrollspy-inview uk-animation-fade" style="">

          <div class="uk-card uk-card-default uk-border-rounded">
            <a href="https://demos.wicombit.com/realfood/recipe/3/spinach-and-cheese-pasta">
              <div class="uk-card-media-top uk-cover-container">
                <img src="https://demos.wicombit.com/realfood/images/recipe_1619359174.jpg"
                  alt="Spinach and Cheese Pasta" uk-cover="" class="uk-cover" style="height: 259px; width: 374px;">
                <canvas width="600" height="300"></canvas>
              </div>
            </a>
            <div class="uk-card-body">
              <div class="uk-card-badge uk-label">Vegan</div>

              <div class="tas_rating">
                <img src="https://demos.wicombit.com/realfood/assets/img/like.svg"><span>6</span>
              </div>

              <a class="uk-card-title"
                href="https://demos.wicombit.com/realfood/recipe/3/spinach-and-cheese-pasta">Spinach and Cheese
                Pasta</a>

              <ul class="uk-subnav" uk-margin="">
                <li class="uk-first-column"><span><i class="tas_icon ti ti-users"></i> 4 Serv.</span></li>
                <li><span><i class="tas_icon ti ti-clock"></i> 15 Min</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="uk-margin-large-top"></div>
      <p class="uk-text-small uk-text-muted">Page 1 - 1</p>
      <hr>
      <div class="tas-pagination uk-margin-top">
        <ul class="uk-pagination uk-flex-center" uk-margin="">
          <li class="uk-active uk-first-column"><span>1</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
