<div class="uk-container uk-margin-large-top" id="comments-section">
  <h3 class="uk-heading-line uk-text-bold uk-margin-medium-bottom"><span><span
        id="comments_count">{{feedbacks.length}}</span>
      Comment(s)</span></h3>

  <div class="uk-alert-warning uk-alert" uk-alert="" *ngIf="!isLogin">
    <a class="uk-alert-close uk-icon uk-close" uk-close=""><svg width="14" height="14" viewBox="0 0 14 14"
        xmlns="http://www.w3.org/2000/svg">
      </svg></a>
    <p><a href="javascript:void(0)" routerLink="/auth/signin" class="uk-link-reset">Sign in to post a comment</a></p>
  </div>

  <form class="clearfix uk-margin-bottom" id="comment_form" *ngIf="isLogin">
    <textarea [(ngModel)]="newFeedback.mark" class="uk-textarea uk-border-rounded" name="comment_text" id="comment_text"
      cols="30" rows="3"></textarea>
    <button class="uk-button uk-button-primary uk-border-rounded uk-margin-small" (click)="postFeedback()"
      id="submit_comment">Submit
      Comment</button>
  </form>
  <div id="comments-wrapper">
   <app-feedback-card *ngFor="let item of feedbacks" [feedback]="item" [recipeId]="recipeId" (feedbacksChanged)="getFeedbacks()"></app-feedback-card>
  </div>
</div>
