.btn-primary {
  background: #2d3a55;
}

.form-control {
  border-color: #c1c1c1;
  color: var(--dark-color);
  font-size: 13px;
  font-weight: 300;
  border-radius: 3px;
  display: unset;
  line-height: normal;
  padding: 0 0 0 15px;
  min-height: 38px;
}

.dataTables_filter input {
  display: inline-block;
  width: 200pxpx;
  margin: 0px 5px;
  vertical-align: middle;
  margin-left: 5px !important;
}

div.dataTables_wrapper div.dataTables_filter label {
  font-family: 'Roboto', Tahoma !important;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2a3f5a;
  font-weight: 500;
  margin: 0;
}

h5,
.uk-h5 {
  font-size: 20px;
  line-height: 22px;
}

.section-title h4:after,
.section-title h5:after {
  border-top: 2.4px solid rgb(42, 63, 90) !important;
}

.form-group textarea {
  padding: 8px 10px;
  min-height: 100px;
}

::ng-deep .user-div .dropdown-item:focus, .dropdown-item:active, .dropdown-item.active {
  color: #fff !important;
  background: #d0d4db !important;
}

